<div>
  <h2>NOSOTROS</h2>
  <div class="nosotrosTexto">
    <p>
    BIENVENIDO A MI 2° PRE-ENTREGA DE BACKEND DE CODERHOUSE
  </p>
  <DIV>
    GUILLERMO LUCAS GIRAU
  </DIV>
  </div>
    <img src="/img/persona.jpg" alt="persona loging">
  </div>
  <div>
    <form action=""></form>
  </div>
</div>



