<div>
    <h2>NOSOTROS</h2>
    <div class="nosotrosTexto">
        <p>BIENVENIDO A MI 2° PRE-ENTREGA DE BACKEND DE CODERHOUSE</p>
        <p>GUILLERMO LUCAS GIRAU</p>
    </div>
    <div class="loggin">
        <img src="/img/persona.jpg" alt="persona loging">
        <div>
            <form action="/home" method="post">
                Username: <input type="text" name="Username" id="username">
                Password: <input type="pasword" name="password" id="password">
                <input type="submit" value="LOGIN">
            </form>
        </div>
        <div class="nosotrosTexto">
            <p>logeate para ver nuestros productos</p>
        </div>
    </div>
</div>