* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2 {
    text-align: center;
}

.nosotrosTexto{
    text-align: center;
    margin-bottom: 15px;
}

.product {
    display: grid;
    grid-template-columns: 14vw 14vw 14vw 14vw 14vw 14vw 14vw;
    align-items: center;
    justify-items: center;
}

.imgPortadaCaja{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.agregar{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.imgPortada{
    width: 50%;
    height: 50%;
    padding-bottom: 2rem;
    text-align: center;
}

.menu{
    background-color: black;
    padding: 10px 0px;
    margin-bottom: 10px;
}

.menu ul li a{
    color: green;
    text-decoration: none;
    font-weight: bold;
}

.menuLink{
    display: flex; 
    justify-content: space-around;
}

.loggin{
    text-align: center;
    margin-top: 15px;
    margin-bottom: 20px;
    padding-bottom: 15px;
}

img {
    margin-bottom: 10px;
    height: 250px;
    width: 250px;
}

.productsContainer {
    display: grid;
    grid-template-columns: 33vw 33vw 33vw;
    justify-items: center;
}

.productsCard {
    background-color: black;
    color: white;
    text-align: center;
    height: auto;
    width: 300px;
    margin: 20px 0;
    padding: 2px;
}

.agregar{
    background-color: rgb(45, 185, 49);
    margin: 10px;
    padding: 5px;
    
}

.textoAgregar{
    text-decoration: none;
    color: white;
}

.formContainer {
    text-align: center;
    padding: 20px;
}

.chatContainer {
    text-align: center;
}

.message {
    display: flex;
    align-items: center;
    justify-content: center;
}

.messageUser {
    font-weight: bold;
}

.messageText {
    margin: 0 10px;
}

.finish {
    color: white;
    text-decoration: none;
    background-color: black;
    padding: 8px;
    border-radius: 15px;
}

.cartProduct {
    display: grid;
    grid-template-columns: 20vw 20vw 20vw 20vw 20vw;
    justify-items: center;
    align-items: center;
}

.plusButton {
    background-color: rgb(56, 144, 56);
    width: 28px;
    height: 28px;
    text-align: center;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}

.minusButton {
    background-color: red;
    width: 28px;
    height: 28px;
    text-align: center;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}

.eliminar{
    background-color: red;
}