<html lang="en" style="overflow-y:scroll">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>ELECTROGIRAU</title>
  </head>
  <body style="margin: 0;">
    <header>
      <div class="imgPortadaCaja">
        <img class="imgPortada" src="/img/ELECTROGIRAU.jpg" alt="logo electrogirau">
      </div>
      <nav>
        <div class="menu">
          <ul class="menuLink">
            <li><a href="/">HOME</a></li>
            <li><a href="/realTimeProducts">REALTIME</a></li>
            <li><a href="/chat">CHAT</a></li>
            <li><a href="/products">PRODUCTS</a></li>
            <li><a href="/carts">CARTS</a></li>
          </ul>
        </div>
      </nav>
    </header>
    {{{body}}}
  </body>
</html>